parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$desired_capabilities of static method Facebook\\WebDriver\\Remote\\RemoteWebDriver\:\:create\(\) expects array\|Facebook\\WebDriver\\Remote\\DesiredCapabilities\|null, Facebook\\WebDriver\\WebDriverCapabilities\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Libraries/SeleniumDriver.php

		-
			message: '#^Method Daycry\\PHPUnit\\Selenium\\Subscribers\\ConfigurationSubscriber\:\:__construct\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Subscribers/ConfigurationSubscriber.php

		-
			message: '#^Strict comparison using \!\=\= between array and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Subscribers/ConfigurationSubscriber.php

		-
			message: '#^Call to an undefined method Daycry\\PHPUnit\\Selenium\\Subscribers\\FailedSubscriber\:\:assertStringContainsString\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Subscribers/FailedSubscriber.php

		-
			message: '#^Daycry\\PHPUnit\\Selenium\\Subscribers\\FailedSubscriber\:\:setUpBeforeClass\(\) calls parent\:\:setUpBeforeClass\(\) but Daycry\\PHPUnit\\Selenium\\Subscribers\\FailedSubscriber does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: src/Subscribers/FailedSubscriber.php

		-
			message: '#^Method Daycry\\PHPUnit\\Selenium\\Subscribers\\FailedSubscriber\:\:clickElementBy\(\) has parameter \$attr with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Subscribers/FailedSubscriber.php

		-
			message: '#^Method Daycry\\PHPUnit\\Selenium\\Subscribers\\FailedSubscriber\:\:getValueFromElement\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Subscribers/FailedSubscriber.php

		-
			message: '#^Method Daycry\\PHPUnit\\Selenium\\Subscribers\\FailedSubscriber\:\:waitElement\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Subscribers/FailedSubscriber.php
